# Exploritory Analysis on SHPO OLI Dataset.
By Kellen Bullock

## Objectives:
<ol>
    <li>Name attributes and describe characteristics.</li>
    <ul>
        <li>% of Nulls</li>
        <li>Type of data. ie String, int, float</li>
        <li>Noise present. Such as outliers, logistic, rounding errors</li>
        <li>What is useful what isn't and why</li>
        <li>Type of distribution. </li>
    </ul>
    <li>Identifying Label data</li>
    <li>Visualization of data</li>
    <li>Identify correlations between variables</li>
    <li>Propose how the problem would be solved manually</li>
    <li>Provide transformations if nessiary</li>
    <li>Anything else of interest</li>
</ol>

In [2]:
import pandas as pd
import matplotlib as mpl
import numpy as np
import seaborn as sb
%matplotlib inline

In [5]:
df = pd.read_excel('Oklahoma.xls')
df.head()

,OBJECTID,PROPNAME,RESNAME,ADDRESS,CITY,VICINTIY,COUNTYCD,LOT,BLOCK,PLATNAME,...,Easting,Northing,P_B_C,Year_Closed,duplicate_check,duplicate_check_date,duplicate_check_user,duplicate_check_comments,approved_shpo,DATE_ENTERED
0,70161,INFILL HOUSING,INFILL HOUSING,,OKLAHOMA CITY,MEDICAL COMMUNITY,109,2019-02-03 00:00:00,4,GAST HEIGHTS ADDITION,...,NaN,NaN,P,NaN,good,2019-01-22,NaN,NaN,NaN,NaT
1,73325,STEPHENSON PARK,BRIDGE,,EDMOND,,109,,,,...,,,P,NaN,good,2019-01-22,NaN,NaN,NaN,NaT
2,73327,STEPHENSON PARK,PICNIC AREA,,EDMOND,,109,,,,...,,,P,NaN,good,2019-01-22,NaN,NaN,NaN,NaT
3,73329,STEPHENSON PARK,CROQUET COURT,,EDMOND,,109,,,,...,,,P,NaN,good,2019-01-22,NaN,NaN,NaN,NaT
4,73330,STEPHENSON PARK,TENNIS COURTS,,EDMOND,,109,,,,...,,,P,NaN,good,2019-01-22,NaN,NaN,NaN,NaT